node_modules
.env
.DS_Store
dist/*
.vscode/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.env.aws.main
.idea/
GitHub_Metrics_Report.xlsx
disk-cache/
.env
